{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    {% include 'navbar.html' %}
    <title>Portfolio WebSite</title>
  </head>
  <body>
    <div id="contact">
        <div class="container"  class="text-center">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title"><span class="a1">•Contact Me</span></h1>
                    <p><i class="fa-solid fa-envelope"></i>nawalerohit914@gmail.com</p>
                    <p><i class="fa-solid fa-phone-volume"></i>+919022540520</p>
                    <div class="social-icon">
                        <a href="https://whatsapp.com/channel/0029VaELLFC5EjxvXWzTNG44">• <i class="fa-brands fa-square-whatsapp"></i></a>
                        <a href="https://www.facebook.com/rohit.nawale.1029?mibextid=mna8qTP8xvtPE1tK">• <i class="fa-brands fa-telegram"></i></a>
                        <a href="https://www.instagram.com/rohit_nawale___">• <i class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://t.me/nr914">• <i class="fa-brands fa-square-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/rohit-nawale-b66107297?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">• <i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>
