{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    {% include 'navbar.html' %}
    <title>Portfolio WebSite</title>
  </head>
  <body>
    <div class="services">
        <div class="container">
            <h1 class="sub-title"><span class="a1">• My Work</span></h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>WebPage Design</h2>
                    <p>In WebPage Design is Multiple Type WebPage Created Like Bootstrap Cards, Bootstrap PopUp Window, GalleryPage, LoginPage, Map WebPage, SignUp Page & More Types</p>
                    <p><a href="https://rohitn-all-webpage-website.netlify.app/">• See Here</a>
                </div>
                <div>
                    <i class="fa-solid fa-crop"></i>
                    <h2>Game Design</h2>
                    <p>In Game Design is One Of the TicTacToe Game Design</p>
                    <p>• See Here - <a href="https://rohitn-tic-tac-toe-game.netlify.app/"> Tic Tac Toe Game WebPage</a></p>
                </div>
                <div>
                    <i class="fa-brands fa-app-store"></i>
                    <h2>App Design</h2>
                    <p>In App Design is one of the Calculator App Design</p>
                    <p>• See Here - <a href="https://rohitn-calculator-app.netlify.app/"> Calculator App WebPage</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright mt-5">
    <p>copyright © 2023, Made With <i class="fas fa-heart"></i> By <span class="a1">Rohit</span></p>
    </div>

<script type="text/javascript">
var sidemenu = document.getElementById("sidemenu");
function openmenu(){
    sidemenu.style.right = "0";
}
function closemenu(){
    sidemenu.style.right = "-200px";
}
</script>

  </body>
</html>
